@import "../../styles/_vars";

.c-info {
  display: flex;
  align-items: flex-start;

  &__icon {
    display: block;
    min-width: 20px;
    width: 20px;
    height: 20px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
  }

  &__icon+&__text {
    margin-left: 18px;
  }

  &__text {
    display: block;
    font-size: 12px;
    font-weight: normal;
    color: $primary-color;
  }

  &__error {
    display: block;
    text-align: center;
    font-weight: 700;
    color: #EA2121;
    margin: 0.5rem 0;

    &.--200 {
      color: $accent-color;
    }
  }
}

.c-info+.c-info {
  margin-top: 20px;
}